@charset "UTF-8";
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Estilos generales */
body {
  background-color: #e7ecef;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column; }

header {
  position: sticky;
  top: 0;
  z-index: 1; }

section {
  margin-bottom: 4%; }

a {
  text-decoration: none; }

h3 {
  font-size: 29px;
  color: #8b8c89;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 2%; }

h4 {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
  margin: 0; }

nav, footer {
  background-color: #6096ba;
  color: white;
  padding: 1% 4%; }

/* Estilos textos */
.textosGris {
  color: #8b8c89;
  text-align: center;
  margin: 1.4rem 2rem; }

.textosAzul {
  color: #274c77; }

.textosBlanco {
  color: white; }

.titulos {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem; }

.justificado {
  text-align: left;
  margin-left: 0;
  margin-right: 0; }

/* Estilos navbar */
@media only screen and (min-width: 768px) {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 33px;
    font-size: 22px;
    margin: 0; }
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22.5px;
    margin: 0; }
  .barra__segundaRow--menuLarge ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-column-gap: 5%;
    justify-content: end;
    margin-bottom: 0; }
  .barra__segundaRow--menuLarge a {
    color: #cbe7ff; }
  .barra__segundaRow ul a:hover {
    color: #e7ecef;
    transform: scale(1.07, 1.07);
    -webkit-transform: scale(1.07, 1.07);
    -moz-transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    -o-transform: scale(1.07, 1.07); }
  .barra__segundaRow .barra__segundaRow--menuSmall {
    display: none; }
  .miga {
    padding: 0;
    margin: 0.5% 3%;
    background-color: #e7ecef;
    color: #274c77; }
  .miga__lista, .miga__listaItem {
    color: #274c77; }
  .miga__listaItem:hover {
    color: #6096ba; } }

@media only screen and (max-width: 767px) and (min-width: 576px) {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 33px;
    font-size: 22px;
    margin-bottom: 0; }
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22.5px;
    margin-bottom: 0; }
  .barra__segundaRow .barra__segundaRow--menuLarge {
    display: none; }
  .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--img {
    color: #cbe7ff;
    position: relative; }
  .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 2% 2.8%;
    background-image: linear-gradient(to left, #6096ba, #7dadcf);
    margin-bottom: 0;
    right: 8%; }
    .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul li a {
      padding: 0 1%;
      color: #cbe7ff; }
    .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul li a:hover {
      color: #e7ecef; }
  .barra__segundaRow .barra__segundaRow--menuSmall:hover .barra__segundaRow--menuSmall--img {
    transform: scaleX(10%);
    -webkit-transform: scaleX(10%);
    -moz-transform: scaleX(10%);
    -ms-transform: scaleX(10%);
    -o-transform: scaleX(10%); }
  .barra__segundaRow .barra__segundaRow--menuSmall:hover .barra__segundaRow--menuSmall--lista ul {
    display: block; }
  .barra__segundaRow--menuSmall--img {
    margin-bottom: 3%; }
  .miga {
    padding: 0;
    margin: 0.5% 3%;
    background-color: #e7ecef;
    color: #274c77; }
  .miga__lista, .miga__listaItem {
    color: #274c77; }
  .miga__listaItem:hover {
    color: #6096ba; } }

@media only screen and (max-width: 575px) {
  h1 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 33px;
    font-size: 18px;
    margin-bottom: 0; }
  h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22.5px;
    font-size: 11px;
    line-height: 9.5px;
    margin-bottom: 0; }
  .barra__segundaRow .barra__segundaRow--menuLarge {
    display: none; }
  .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--img {
    color: #cbe7ff;
    position: relative;
    width: 33px; }
  .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 2% 2.8%;
    background-image: linear-gradient(to left, #6096ba, #7dadcf);
    margin-bottom: 0;
    right: 9%; }
    .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul li a {
      padding: 0 1%;
      color: #cbe7ff; }
    .barra__segundaRow .barra__segundaRow--menuSmall .barra__segundaRow--menuSmall--lista ul li a:hover {
      color: #e7ecef; }
  .barra__segundaRow .barra__segundaRow--menuSmall:hover .barra__segundaRow--menuSmall--img {
    transform: scaleX(10%);
    -webkit-transform: scaleX(10%);
    -moz-transform: scaleX(10%);
    -ms-transform: scaleX(10%);
    -o-transform: scaleX(10%); }
  .barra__segundaRow .barra__segundaRow--menuSmall:hover .barra__segundaRow--menuSmall--lista ul {
    display: block; }
  .barra__segundaRow--menuSmall--img {
    margin-bottom: 3%; }
  .miga {
    padding: 0;
    margin: 0.5% 3%;
    background-color: #e7ecef;
    color: #274c77;
    font-size: 14px; }
  .miga__lista, .miga__listaItem {
    color: #274c77; }
  .miga__listaItem:hover {
    color: #6096ba; } }

/* Estilos FOOTER */
@media only screen and (min-width: 768px) {
  .footer {
    background-image: linear-gradient(to right, #a7cfef, #6096ba, #a7cfef);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: auto; }
  .footer__iconos {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 13px; }
  .footer__iconos--logo {
    width: 18px; }
  .footer__iconos--logo:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1); }
  .footer__iconos--logo--img {
    width: 100%; }
  .footer__texto {
    justify-self: center;
    color: #cbe7ff;
    font-size: 11px; }
  .footer__texto--ancla {
    text-align: center;
    color: #cbe7ff; }
  .footer__texto--ancla:hover {
    color: white; } }

@media only screen and (max-width: 767px) and (min-width: 321px) {
  .footer {
    background-image: linear-gradient(to right, #a7cfef, #6096ba, #a7cfef);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: auto; }
  .footer__iconos {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 12px; }
  .footer__iconos--logo {
    width: 17px; }
  .footer__iconos--logo:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1); }
  .footer__iconos--logo--img {
    width: 100%; }
  .footer__texto {
    justify-self: center;
    color: #cbe7ff;
    font-size: 10px; }
  .footer__texto--ancla {
    text-align: center;
    color: #cbe7ff; }
  .footer__texto--ancla:hover {
    color: white; } }

@media only screen and (max-width: 320px) {
  .footer {
    background-image: linear-gradient(to right, #a7cfef, #6096ba, #a7cfef);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    margin-top: auto; }
  .footer__iconos {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    grid-column-gap: 11px; }
  .footer__iconos--logo {
    width: 16px; }
  .footer__iconos--logo:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1); }
  .footer__iconos--logo--img {
    width: 100%; }
  .footer__texto {
    justify-self: center;
    color: #cbe7ff;
    font-size: 9px; }
  .footer__texto--ancla {
    text-align: center;
    color: #cbe7ff; }
  .footer__texto--ancla:hover {
    color: white; } }

/* Estilos sección HOME */
@media only screen and (min-width: 992px) {
  #home {
    background-image: linear-gradient(to bottom, #6096ba, #e7ecef); }
  .home__container {
    padding-left: 4.6%; }
  .home__container--padding {
    padding: 0 4.6%; }
  .home__titulo {
    color: #e7ecef;
    font-size: 56px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: none; }
  .home__carousel {
    z-index: 0; } }

@media only screen and (max-width: 991px) and (min-width: 768px) {
  #home {
    background-image: linear-gradient(to bottom, #6096ba, #e7ecef); }
  .home__container {
    padding-left: 4.6%; }
  .home__container--padding {
    padding: 0 4.6%; }
  .home__titulo {
    color: #e7ecef;
    font-size: 46px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: none; }
  .home__carousel {
    z-index: 0; } }

@media only screen and (max-width: 767px) and (min-width: 576px) {
  #home {
    background-image: linear-gradient(to bottom, #6096ba, #e7ecef); }
  .home__container {
    padding-left: 4.6%; }
  .home__container--padding {
    padding: 0 4.6%; }
  .home__titulo {
    color: #e7ecef;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: none; }
  .home__carousel {
    z-index: 0; } }

@media only screen and (max-width: 575px) {
  #home {
    background-image: linear-gradient(to bottom, #6096ba, #e7ecef); }
  .home__container {
    padding-left: 4.6%; }
  .home__container--padding {
    padding: 0 4.6%; }
  .home__titulo {
    color: #e7ecef;
    font-size: 36px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: none; }
  .home__carousel {
    z-index: 0; } }

/* Estilos sección HABILIDADES */
.habilidades__barraDetras {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 100%;
  background-color: rgba(139, 140, 137, 0.2); }

.habilidades__barraDelante--w100 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 100%;
  background-color: #274c77; }

.habilidades__barraDelante--w90 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 90%;
  background-color: #274c77; }

.habilidades__barraDelante--w80 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 80%;
  background-color: #274c77; }

.habilidades__barraDelante--w75 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 75%;
  background-color: #274c77; }

.habilidades__barraDelante--w70 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 70%;
  background-color: #274c77; }

.habilidades__barraDelante--w60 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 60%;
  background-color: #274c77; }

.habilidades__barraDelante--w50 {
  height: 16px;
  border-radius: 1.25rem;
  -webkit-border-radius: 1.25rem;
  -moz-border-radius: 1.25rem;
  -ms-border-radius: 1.25rem;
  -o-border-radius: 1.25rem;
  width: 50%;
  background-color: #274c77; }

/* Estilos sección PORTFOLIO */
.portfolio__row:hover .card:not(:hover) {
  opacity: 0.7;
  background-color: #e7ecef;
  border-color: #e7ecef; }

.imgPortfolio {
  width: 100%; }

/* Estilos sección SOBRE MÍ */
.sobreMi__col--aside--img {
  width: 100%; }

/* Estilos sección CONTACTO */
.contacto__form--boton {
  background-color: #6096ba;
  border-color: #6096ba;
  color: #e7ecef;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; }

.contacto__form--boton:hover {
  background-color: #497e9e;
  border-color: #497e9e; }

.contacto__aside--col--img {
  width: 55%; }

/* Estilos sección MAPA DEL SITIO */
@media only screen and (min-width: 992px) {
  .mapa {
    border-bottom-color: rgba(139, 140, 137, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .mapa__col {
    width: auto; }
  .mapa__col--border {
    border-right-color: rgba(139, 140, 137, 0.2);
    border-right-width: 1px;
    border-right-style: solid; }
  .mapa__titulo {
    background-color: #6096ba;
    color: #e7ecef;
    padding: 2% 0;
    margin-top: 0; }
  .mapa__subtitulo {
    font-size: 1.4rem;
    color: #274c77;
    text-transform: none;
    margin-bottom: 3%; }
  .mapa__list {
    padding-left: 1.4rem;
    margin-top: 4%; }
  .mapa__ancla {
    color: #6096ba;
    text-decoration: underline; }
  .mapa__ancla:hover {
    color: #497e9e; } }

@media only screen and (max-width: 991px) {
  .mapa {
    border-bottom-color: rgba(139, 140, 137, 0.2);
    border-bottom-width: 1px;
    border-bottom-style: solid; }
  .mapa__col {
    width: auto; }
  .mapa__titulo {
    background-color: #6096ba;
    color: #e7ecef;
    padding: 2% 0;
    margin-top: 0; }
  .mapa__subtitulo {
    font-size: 1.4rem;
    color: #274c77;
    text-transform: none;
    margin-bottom: 3%; }
  .mapa__list {
    padding-left: 1.4rem;
    margin-top: 4%; }
  .mapa__ancla {
    color: #6096ba;
    text-decoration: underline; }
  .mapa__ancla:hover {
    color: #497e9e; } }

/* Estilos sección 404 */
.error__h3 {
  font-size: 72px;
  color: #274c77;
  margin-top: 6%;
  margin-bottom: 0; }

.error__h4 {
  color: #274c77;
  text-align: center;
  margin-bottom: 4%; }

.error__boton {
  background-color: #274c77;
  height: 80%;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  margin-bottom: 20%; }

.error__boton--ancla {
  color: #e7ecef; }

.error__boton--texto {
  text-align: center;
  position: relative;
  top: 31%; }

.error__boton--ancla:hover, .error__boton:hover {
  color: #e7ecef;
  background-color: #0f2e47; }
