$celesteClaro: rgb(167, 207, 239);
$celeste: rgb(125, 173, 207);
$celesteOscuro: rgb(96, 150, 186);
$blanco: #e7ecef;
$blancoOscuro: rgb(203, 231, 255);
$azul: #274c77;

$decena: 10px;
$w-100: 100%;

@mixin miga ($color) {
    padding: 0;
    margin: 0.5% 3%;
    color: $azul;
    background-color: $color;
    position: relative;
    top: 215%;
}

@mixin display($display) {
    display: $display;
}


/* Estilos NAVBAR */
.barra__logo--img {
    width: 2.6em;
}

.barra__ancla {
    color: $blancoOscuro;
}

.barra__ancla:hover {
    color: $blanco;
}

.barra__menu-small:focus {
    box-shadow: none;
    border: 0.1px solid white;
}

.barra__menu-small--icono {
    background-image: url("./../media/icons/menu.png");
}


/* Estilos BREADCRUMB */
@media only screen and (min-width: 768px) {
    .miga {
        @include miga(rgba($color: $blanco, $alpha: 0));
    }

    .miga__lista, .miga__listaItem {
        color: $azul;
    }

    .miga__listaItem:hover {
        color: $celesteOscuro;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px) {    
    .miga {
        @include miga(rgba($color: $blanco, $alpha: 0));
    }

    .miga__lista, .miga__listaItem {
        color: $azul;
    }

    .miga__listaItem:hover {
        color: $celesteOscuro;
    }
}

@media only screen and (max-width: 575px) {
    .miga {
        @include miga(rgba($color: $blanco, $alpha: 0));
        font-size: 14px;
    }

    .miga__lista, .miga__listaItem {
        color: $azul;
    }

    .miga__listaItem:hover {
        color: $celesteOscuro;
    }
}


/* Estilos FOOTER */
@media only screen and (min-width: 768px) {
    .footer {
        background-image: linear-gradient(to right, $celesteClaro, $celesteOscuro, $celesteClaro);
        @include display(grid);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin-top: auto;
    }
    
    .footer__iconos {
        @include display(grid);
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: $decena * 1.3;
    }
    
    .footer__iconos--logo {
        width: $decena * 1.8;
    }

    .footer__iconos--logo:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
    }
    
    .footer__iconos--logo--img {
        width: $w-100;
    }
    
    .footer__texto {
        justify-self: center;
        color: $blancoOscuro;
        font-size: $decena * 1.1;
    }

    .footer__texto--ancla {
        text-align: center;
        color: $blancoOscuro;
    }

    .footer__texto--ancla:hover {
        color: white;
    }
}

@media only screen and (max-width: 767px) and (min-width: 321px) {
    .footer {
        background-image: linear-gradient(to right, $celesteClaro, $celesteOscuro, $celesteClaro);
        @include display(grid);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin-top: auto;
    }
    
    .footer__iconos {
        @include display(grid);
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: $decena * 1.2;
    }
    
    .footer__iconos--logo {
        width: 17px;
    }

    .footer__iconos--logo:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
    }
    
    .footer__iconos--logo--img {
        width: $w-100;
    }
    
    .footer__texto {
        justify-self: center;
        color: $blancoOscuro;
        font-size: $decena;
    }

    .footer__texto--ancla {
        text-align: center;
        color: $blancoOscuro;
    }

    .footer__texto--ancla:hover {
        color: white;
    }
}

@media only screen and (max-width: 320px) {
    .footer {
        background-image: linear-gradient(to right, $celesteClaro, $celesteOscuro, $celesteClaro);
        @include display(grid);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
        margin-top: auto;
    }
    
    .footer__iconos {
        @include display(grid);
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        grid-column-gap: $decena * 1.1;
    }
    
    .footer__iconos--logo {
        width: $decena * 1.6;
    }

    .footer__iconos--logo:hover {
        transform: scale(1.1, 1.1);
        -webkit-transform: scale(1.1, 1.1);
        -moz-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
        -o-transform: scale(1.1, 1.1);
    }
    
    .footer__iconos--logo--img {
        width: $w-100;
    }
    
    .footer__texto {
        justify-self: center;
        color: $blancoOscuro;
        font-size: $decena - 1;
    }

    .footer__texto--ancla {
        text-align: center;
        color: $blancoOscuro;
    }

    .footer__texto--ancla:hover {
        color: white;
    }
}