$gris: #8b8c89;
$azul: #274c77;


/* Estilos textos */
.textos-gris {
    color: $gris;
    text-align: center;
    margin: 1.4rem 2rem;
}

.textos-azul {
    color: $azul;
}

.titulos { 
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 4rem;
}