$gris: #8b8c89;
$azul: #274c77;


/* Estilos textos */
.textosGris {
    color: $gris;
    text-align: center;
    margin: 1.4rem 2rem;
}

.textosAzul {
    color: $azul;
}

.textosBlanco {
    color: white;
}

.titulos { 
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.justificado {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
}